<h1>Ajouter une personne</h1>

  <form method="post" action="/afficheClient1">

    <label>
      Nom : <input class="champ" type="text" id="nom" name="nom"/>
      <!-- Prénom : <input class="champ" type="text" id="prenom" name="prenom"/> -->
    </label>
    <input class="bouton" type="submit" value="Valider"/>
    <br/><br/>
  </form>
